.container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#result {
    display: flex;
    flex-wrap: wrap;
}

.word-card {
    padding: 20px;
    margin: 0 15px 15px 0;
    border: 2px solid #9b9b9b;
    background-color: #fff;
    color: #9b9b9b;
}

.control-btn {
    width: 120px;
    height: 30px;
    border: none;
    background-color: #fff;
    font-weight: 700;
    color: #9b9b9b;
    outline: none;
    font-size: 15px;
    border: 2px solid #9b9b9b;
}

.control-btn:hover,
:focus {
    background-color: #9b9b9b;
    color: #fff;
    border: 2px solid #9b9b9b;
}


#postBtn {
    margin: 0 12px 0 0;
}


.text {
    color: #9b9b9b;
    font-weight: 700;
    font-size: 15px;
}

.word-input {
    border: 2px solid #9b9b9b;
    background-color: #ffffff;
    color: #9b9b9b;
    height: 20px;
    padding: 0;
    outline: none;
    padding-left: 5px;
}

.deleteBtn {
    color: #9b9b9b;
    background-color: #fff;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
}

.deleteBtn:hover {
    color: #fff;
    background-color: #ff5b5b;
}

.editBtn {
    color: #9b9b9b;
    background-color: #fff;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 18px;
}

.editBtn:hover {
    color: #fff;
    background-color: #9b9b9bd3;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    text-align: center;
}